<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <%- include('./partials/nav.ejs') %>
  <body>
    <div class="content">
      <form method="post"  class="add-post-form bg-dark">
        <h2>Add Post</h2>
        <input
        name="message"
        id="message"
        placeholder="Add a message"
        type="text"
        required="true"
        minlength="3"
        maxlength="100"
        >
        
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>