<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <%- include('./partials/nav.ejs') %>
  <body>
    <div class="content">
      <form method="post" action="/register" class="bg-dark" class="login-form">
        <h2>Register</h2>
        <input
        name="username"
        id="username"
        placeholder="Enter Username"
        type="text"
        required="true"
        pattern="^[^-\s]{3}$"
        >

        <input
        name="password"
        id="password"
        placeholder="Enter Password"
        type="password"
        required="true"
        pattern="^[^-\s]{8}$"
        >

        <input
        name="verifypw"
        id="verifypw"
        placeholder="Enter Password Again"
        type="password"
        required="true"
        pattern="^[^-\s]{8}$"
        >
        <button type="submit">Register</button>
        <% if (typeof errorMsg !== 'undefined') { %>
         <span class="err-msg"><%= errorMsg %></span>
        <% } %>
      </form>
    </div>
  </body>
</html>